/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    height: 100%;
    width: 100%;
}

body {
    line-height: 1;
    position: relative;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* variables */
:root {
    /* colors */
    --blue: #009fe3;
    --pink: #e6007e;
    --purple: #745ba3;
    --green: #339999;
    --yellow: #fdc300;
    --orange: #eb5d40;
    --white: #ffffff;
    --black: #1D1D1B;
    --shadow: rgba(0, 0, 0, 0.1);
    /* light mode */
    --primary-light: #e3e2e2;
    --secondary-light: #d5d5d5;
    /* dark mode */
    --primary-dark: #22228b;
    --secondary-dark: #1f1f6b;
    /* breakpoints */
    --smallest: 320px;
    --mobile: 480px;
    --tablet: 768px;
    --desktop: 1024px;
    --large: 1440px;
    --largest: 1920px;
}

.sen-normal {
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.sen-bold {
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.sen-semibold {
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.main-header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: calc(((100vw - var(--large)) / 2) + 30px);
    padding-right: calc(((100vw - var(--large)) / 2) + 30px);
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

.main-header .header-logo {
    height: auto;
    width: 400px;
}

.main-header .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 20px;
}

.main-header .header-nav .nav-link {
    color: var(--black);
    transition: color 0.3s ease;
    text-align: center;
}

.main-header .header-nav #definition-link:hover {
    color: var(--blue);
}

.main-header .header-nav #volunteers-link:hover {
    color: var(--purple);
}

.main-header .header-nav #city-hall-link:hover {
    color: var(--yellow);
}

.main-header .header-nav #about-link:hover {
    color: var(--orange);
}

.main-header .header-nav #blog-link:hover {
    color: var(--pink);
}

.main-header .header-nav #contact-link:hover {
    color: var(--green);
}


/* Styling the hamburger menu */
.hamburger-menu {
    /* Hidden by default */
    display: none;
}

#menu_checkbox {
    display: none;
}

.hamburguer-label {
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 0;
    left: 0;
    display: block;
    width: 30px;
    height: 25px;
    cursor: pointer;
    margin: auto 0;
}

.hamburguer-label div {
    position: relative;
    top: 0;
    height: 5px;
    margin-bottom: 5px;
    transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
        0.3s ease right;
    border-radius: 2px;
}

.hamburguer-label div:first-child {
    transform-origin: 0;
    background-color: var(--blue);
}

.hamburguer-label div:last-child {
    margin-bottom: 0;
    transform-origin: 30px;
    background-color: var(--yellow);
}

.hamburguer-label div:nth-child(2) {
    right: 0;
    width: 30px;
    background-color: var(--pink);
}

#menu_checkbox:checked+.hamburguer-label div:first-child {
    top: -6px;
    transform: rotateZ(45deg);
    width: 40px;
    z-index: 5;
}

#menu_checkbox:checked+.hamburguer-label div:last-child {
    width: 40px;
    top: -15px;
    right: 10px;
    transform: rotateZ(-45deg);
    z-index: 3;
}

#menu_checkbox:checked+.hamburguer-label div:nth-child(2) {
    top: 0;
    height: 2px;
    transform: rotateZ(45deg);
}

/* main sections */
.innovation {
    background-image: url("/images/cubosMMpersa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}
.definition{
    background-image: url("/images/svg/Recurso\ 2.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}
.purpose{
    background-image: url("/images/claroPersa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

/* Footer styles */
.main-footer {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: calc(((100vw - var(--large)) / 2) + 30px);
    padding-right: calc(((100vw - var(--large)) / 2) + 30px);
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 30px;
    border-bottom: var(--white) 2px solid;
    padding-bottom: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.footer-description {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    max-width: 50%;
    min-width: 300px;
}

.footer-logo {
    height: auto;
    width: 100%;
    max-width: 400px;
    filter: brightness(0) invert(1);
}

.footer-paragraphs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    text-align: justify;
}

.footer-text {
    max-width: 400px;
}

.footer-social {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.social-title {
    font-size: 20px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icon {
    height: 30px;
    width: 30px;
    position: relative;
}

.social-icon-img {
    max-height: 100%;
    filter: brightness(0) invert(1);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
    width: 100%;
}

.legal-links-container {
    display: flex;
    gap: 5px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.legal-link-separator {
    height: 16px;
    width: 1px;
    background-color: var(--white);
}

.legal-link {
    text-align: center;
}

/* Media query for --large screen size */
@media screen and (max-width: 1440px) {
    .main-header {
        padding: 20px;
    }

    .main-footer {
        padding: 20px;
    }
}

/* Media query for --mobile screen size */
@media screen and (max-width: 768px) {
    .main-header {
        flex-direction: row;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }

    .main-header .header-logo {
        height: 40px;
        width: auto;
        flex-grow: 2;
    }

    .main-header .header-nav {
        display: none;
        position: absolute;
        flex-direction: column;
        gap: 10px;
        left: 0;
        height: min-content;
        top: 60px;
        right: 0;
        box-shadow: 0px 15px 14px -10px var(--shadow);
        padding: 5px;
        gap: 10px;
    }

    .hamburger-menu {
        display: block;
        position: absolute;
        height: 40px;
        width: 30px;
        right: 20px;
    }

    .main-header .header-nav .nav-link {
        padding: 5px;
    }

    .main-footer {
        padding: 10px;
    }

    .footer-top {
        flex-direction: column;
        gap: 20px;
    }

    .footer-description {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
        justify-content: center;
        min-width: 0;
        position: relative;
        gap: 20px;
        font-size: 12px;
    }

    .footer-logo {
        height: 40px;
        width: auto;
    }

    .footer-paragraphs {
        width: 100%;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .footer-text {
        text-align: center;
    }

    .footer-social {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
    }

    .social-title {
        font-size: 16px;
        width: 100%;
        text-align: center;
    }

    .social-link {
        font-size: 12px;
    }

    .social-icons {
        gap: 10px;
    }

    .social-icon {
        height: 20px;
        width: 20px;
    }

    .footer-bottom {
        flex-direction: column-reverse;
        font-size: 12px;
    }
}

/* Media query for --mobile screen size */
@media screen and (max-width: 480px) {
    .main-header {
        flex-direction: row;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }

    .hamburger-menu {
        position: relative;
        right: 0;
    }

    .footer-text {
        text-align: justify;
    }
}