/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* variables */
:root {
    /* colors */
    --blue: #009fe3;
    --pink: #e6007e;
    --purple: #745ba3;
    --green: #339999;
    --yellow: #fdc300;
    --orange: #eb5d40;
    --white: #ffffff;
    --black: #1D1D1B;
    --shadow: rgba(0, 0, 0, 0.1);
    /* light mode */
    --primary-light: #e3e2e2;
    --secondary-light: #d5d5d5;
    /* dark mode */
    --primary-dark: #22228b;
    --secondary-dark: #1f1f6b;
    /* breakpoints */
    --smallest: 320px;
    --mobile: 480px;
    --tablet: 768px;
    --desktop: 1024px;
    --large: 1440px;
    --largest: 1920px;
}

.sen-normal {
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.sen-bold {
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.sen-semibold {
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.main-header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: calc(((100vw - var(--large)) / 2) + 30px);
    padding-right: calc(((100vw - var(--large)) / 2) + 30px);
    gap: 20px;
    flex-wrap: wrap;
}

.main-header .header-logo {
    height: auto;
    width: 400px;
}

.main-header .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 20px;
}

.main-header .header-nav .nav-link {
    color: var(--black);
    transition: color 0.3s ease;
    text-align: center;
}

.main-header .header-nav #definition-link:hover {
    color: var(--blue);
}

.main-header .header-nav #volunteers-link:hover {
    color: var(--purple);
}

.main-header .header-nav #city-hall-link:hover {
    color: var(--yellow);
}

.main-header .header-nav #about-link:hover {
    color: var(--orange);
}

.main-header .header-nav #blog-link:hover {
    color: var(--pink);
}

.main-header .header-nav #contact-link:hover {
    color: var(--green);
}

/* Media query for --large screen size */
@media screen and (max-width: 1440px) {
    .main-header {
        padding: 20px;
    }
}

/* Media query for --mobile screen size */
@media screen and (max-width: 480px) {
    .main-header .header-logo {
        height: auto;
        width: 100%;
        max-width: 100%;
    }
}

/* Styling the hamburger menu */
.hamburger-menu {
    display: none;
    /* Hidden by default */
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    box-shadow: 2px 2px 14px 0 var(--shadow);
    padding: 5px;
    gap: 5px;
    width: 30px;
    border-radius: 0 10px 10px 0;
}

.hamburger-menu span {
    display: block;
    height: 5px;
    width: 100%;
    background-color: var(--black);
    border-radius: 50px;
}

/* Hide the regular navigation and show hamburger on mobile */
@media screen and (max-width: 768px) {
    .header-nav {
        display: none;
        /* Hide the navigation initially */
    }

    .hamburger-menu {
        display: flex;
        /* Show hamburger icon */
    }
}